version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        name: push-to-giantswarm-catalog
        context: architect
        executor: app-build-suite
        chart: 'gateway-api-bundle'
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        filters:
          branches:
            ignore:
            - main
            - master
          tags:
            only: /^v.*/

    - architect/push-to-app-catalog:
        name: push-to-control-plane-catalog
        context: architect
        executor: app-build-suite
        chart: 'gateway-api-bundle'
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        filters:
          branches:
            ignore:
              - main
              - master
          tags:
            only: /^v.*/

