{{- range .Values.apps }}
{{- $appName := include "app.name" (dict "app" .appName "cluster" $.Values.clusterID) }}
{{- if .enabled }}
{{- $annotations := .annotations | default dict }}
{{- if .dependsOn -}}
{{- $annotations := merge $annotations (dict "app-operator.giantswarm.io/depends-on" (include "app.name" (dict "app" .dependsOn "cluster" $.Values.clusterID))) }}
{{- end }}
{{- if .userConfig }}
{{- if and .userConfig.configMap .userConfig.configMap.values }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "labels.common" $ | nindent 4 }}
  name: {{ $appName }}-user-values
  namespace: {{ $.Release.Namespace }}
data:
  {{- if kindIs "string" .userConfig.configMap.values }}
  {{- (tpl (.userConfig.configMap | toYaml | toString) $) | nindent 2 }}
  {{- else }}
  values: |
  {{- (tpl (.userConfig.configMap.values | toYaml | toString) $) | nindent 4 }}
  {{- end }}
{{- end }}
{{- if and .userConfig.secret .userConfig.secret.values }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "labels.common" $ | nindent 4 }}
  name: {{ $appName }}-user-secrets
  namespace: {{ $.Release.Namespace }}
stringData:
  {{- if kindIs "string" .userConfig.secret.values }}
  {{- (tpl (.userConfig.secret | toYaml | toString) $) | nindent 2 }}
  {{- else }}
  values: |
  {{- (tpl (.userConfig.secret.values | toYaml | toString) $) | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
---
apiVersion: application.giantswarm.io/v1alpha1
kind: App
metadata:
  labels:
    {{- include "labels.common" $ | nindent 4 }}
  {{- with $annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ $appName }}
  namespace: {{ $.Release.Namespace }}
spec:
  catalog: {{ .catalog }}
  {{- if $.Values.clusterValues }}
  config:
    configMap:
      name: {{ $.Values.clusterID }}-cluster-values
      namespace: {{ $.Release.Namespace }}
  {{- end }}
  install:
    skipCRDs: {{.skipCRDs | default false }}
    timeout: 10m
  upgrade:
    timeout: 10m
  kubeConfig:
    inCluster: false
  name: {{ .chartName }}
  namespace: {{ .namespace }}
  {{- with .namespaceConfig }}
  namespaceConfig:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  version: {{ .version }}
  {{- with .extraConfigs }}
  extraConfigs:
  {{- range . }}
  - name: {{ .name }}
    namespace: {{ .namespace }}
    {{- with .kind }}
    kind: {{ . }}
    {{- end }}
    {{- with .priority }}
    priority: {{ . }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if .userConfig }}
  {{- if or .userConfig.configMap .userConfig.secret }}
  userConfig:
    {{- if .userConfig.configMap }}
    configMap:
      name: {{ $appName }}-user-values
      namespace: {{ $.Release.Namespace }}
    {{- end }}
    {{- if .userConfig.secret }}
    secret:
      name: {{ $appName }}-user-secrets
      namespace: {{ $.Release.Namespace }}
    {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
