clusterID: "test"
organization: ""

apps:
  gatewayApiCrds:
    appName: gateway-api-crds
    chartName: gateway-api-crds
    catalog: giantswarm
    enabled: true
    namespace: kube-system
    # used by renovate
    # repo: giantswarm/gateway-api-crds-app
    version: 1.6.1
    # User values can be provided via a ConfigMap or Secret for each individual app
    userConfig: {}
    # a list of extraConfigs for the App,
    # It can be secret or configmap
    # https://github.com/giantswarm/rfc/tree/main/multi-layer-app-config#example
    extraConfigs: []
  envoyGateway:
    appName: envoy-gateway
    chartName: envoy-gateway
    catalog: giantswarm
    dependsOn: gateway-api-crds
    enabled: true
    namespace: envoy-gateway-system
    # used by renovate
    # repo: giantswarm/envoy-gateway-app
    version: 1.4.1
    # User values can be provided via a ConfigMap or Secret for each individual app
    userConfig: {}
    # a list of extraConfigs for the App,
    # It can be secret or configmap
    # https://github.com/giantswarm/rfc/tree/main/multi-layer-app-config#example
    extraConfigs: []
  gatewayApiConfig:
    appName: gateway-api-config
    chartName: gateway-api-config
    catalog: giantswarm
    dependsOn: envoy-gateway
    enabled: true
    namespace: envoy-gateway-system
    # used by renovate
    # repo: giantswarm/gateway-api-config-app
    version: 1.6.1
    # User values can be provided via a ConfigMap or Secret for each individual app
    userConfig: {}
    # a list of extraConfigs for the App,
    # It can be secret or configmap
    # https://github.com/giantswarm/rfc/tree/main/multi-layer-app-config#example
    extraConfigs: []
  envoyAIGateway:
    appName: envoy-ai-gateway
    chartName: envoy-ai-gateway
    catalog: giantswarm
    dependsOn: gateway-api-crds
    enabled: false
    namespace: envoy-ai-gateway-system
    # used by renovate
    # repo: giantswarm/envoy-ai-gateway-app
    version: 0.1.0
    # User values can be provided via a ConfigMap or Secret for each individual app
    userConfig: {}
    # a list of extraConfigs for the App,
    # It can be secret or configmap
    # https://github.com/giantswarm/rfc/tree/main/multi-layer-app-config#example
    extraConfigs: []
